<ds-page-wrapper>
  <ds-card>
    <form class="space-y-4" (ngSubmit)="submit()" [formGroup]="form">
      <h2 class="text-xl font-semibold">Register</h2>

      <ds-input
        type="text"
        placeholder="Name"
        formControlName="name"
      ></ds-input>

      <ds-input
        type="email"
        placeholder="Email"
        formControlName="email"
      ></ds-input>

      <ds-input
        type="password"
        placeholder="Password"
        formControlName="password"
      ></ds-input>

      <ds-input
        type="password"
        placeholder="Confirm Password"
        formControlName="confirmPassword"
      ></ds-input>

      <ds-button [loading]="loading()">
        Create Account
      </ds-button>
    </form>
  </ds-card>
</ds-page-wrapper>